@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "fuente-logo";
  src: url(../fuentes/DMSerifDisplay-Italic.ttf);
}
body {
  max-width: 100%;
  position: relative;
}

body {
  max-width: 100vw;
}
body .header-general {
  display: flex;
  height: 20vh;
  background-image: url(../img/imagen\ index.webp);
  width: 100vw;
  position: fixed;
  background-position: top;
  background-size: cover;
  z-index: 2;
  box-shadow: 1px 2px 10px 0px rgb(108, 108, 108);
}
@media screen and (max-width: 1200px) {
  body .header-general {
    height: 17vh;
  }
}
@media screen and (max-width: 480px) {
  body .header-general {
    flex-direction: column;
    height: 11vh;
  }
}
body .header-general .nav-general {
  display: flex;
  flex-direction: column;
  background-color: beige;
  z-index: 1;
  width: 20%;
  align-items: center;
  margin-left: 3vw;
  height: 26vh;
  border-bottom: solid rgb(71, 71, 71) 0.1vh;
  border-left: solid rgb(71, 71, 71) 0.1vh;
  border-right: solid rgb(71, 71, 71) 0.1vh;
  box-shadow: 0px 2px 10px 0px rgb(108, 108, 108);
  -webkit-transition: 0.7s;
}
@media screen and (max-width: 1200px) {
  body .header-general .nav-general {
    width: 22%;
    height: 22vh;
  }
}
@media screen and (max-width: 1024px) {
  body .header-general .nav-general {
    width: 25%;
    height: 18vw;
  }
}
@media screen and (max-width: 768px) {
  body .header-general .nav-general {
    width: 27%;
    height: 29vh;
  }
}
@media screen and (max-width: 480px) {
  body .header-general .nav-general {
    height: 27vw;
  }
}
@media screen and (max-width: 320px) {
  body .header-general .nav-general {
    height: 30vw;
  }
}
body .header-general .nav-general:hover {
  background-color: rgb(173, 173, 152);
  height: 45vh;
  transition: 0.7s;
}
@media screen and (max-width: 1200px) {
  body .header-general .nav-general:hover {
    height: 43vh;
  }
}
@media screen and (max-width: 1024px) {
  body .header-general .nav-general:hover {
    height: 39vh;
  }
}
@media screen and (max-width: 768px) {
  body .header-general .nav-general:hover {
    height: 37vh;
  }
}
@media screen and (max-width: 320px) {
  body .header-general .nav-general:hover {
    height: 35vh;
  }
}
body .header-general .nav-general:hover .menu-general {
  opacity: 100%;
  transition: 0.7s;
}
body .header-general .nav-general:hover .extra {
  opacity: 0%;
}
body .header-general .logo-general {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
body .header-general .logo-general h1 {
  font-weight: 200;
  font-size: 7vw;
  font-family: "fuente-logo";
  color: rgb(20, 20, 20);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  body .header-general .logo-general h1 {
    font-size: 8vw;
  }
}
@media screen and (max-width: 1024px) {
  body .header-general .logo-general h1 {
    font-size: 9vw;
  }
}
@media screen and (max-width: 768px) {
  body .header-general .logo-general h1 {
    font-size: 9vw;
  }
}
body .header-general .logo-general h1:hover {
  color: white;
  font-size: 7.3vw;
  transition: 0.3s;
}
body .header-general .extra {
  display: flex;
  justify-content: center;
  margin-top: 0vh;
  color: rgb(71, 71, 71);
}
body .header-general .menu-general {
  list-style-type: none;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0%;
  height: 40%;
  width: 15vw;
  margin-top: 1vh;
  padding: 0;
  margin-left: 0;
}
body .header-general .menu-general a {
  text-decoration: none;
}
body .header-general .menu-general p {
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  color: rgb(29, 29, 29);
  font-size: 70%;
}
body .header-general .menu-general p:hover {
  color: white;
  font-size: 75%;
}
@media screen and (max-width: 1024px) {
  body .header-general .menu-general p {
    font-size: 65%;
  }
}
@media screen and (max-width: 768px) {
  body .header-general .menu-general {
    width: 27vw;
  }
}
body .box-buscador-general {
  margin-left: 33%;
  width: 30.5vw;
  -webkit-transition: 0.7s;
}
body .box-buscador-general:hover {
  margin-left: 31%;
  width: 33.5vw;
  transition: 0.7s;
}
@media screen and (max-width: 1200px) {
  body .box-buscador-general {
    width: 32vw;
  }
}
@media screen and (max-width: 1024px) {
  body .box-buscador-general {
    width: 34vw;
    margin-left: 30%;
  }
}
@media screen and (max-width: 480px) {
  body .box-buscador-general {
    margin-top: 75vh;
    margin-left: 2vw;
    width: 94vw;
    position: fixed;
  }
}
body .buscador-general {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: end;
  height: 3.8vh;
  border: black solid 0.1vh;
  text-decoration: none;
  margin-top: 7vh;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
}
@media screen and (max-width: 768px) {
  body .buscador-general {
    height: 4.5vh;
  }
}
@media screen and (max-width: 480px) {
  body .buscador-general {
    height: 3.5vh;
  }
}
body .buscador-general p {
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  text-align: center;
  color: rgb(173, 173, 152);
  display: flex;
  align-items: center;
  margin-right: 3vh;
  font-size: 65%;
  margin-top: 1.8vh;
}
@media screen and (max-width: 1200px) {
  body .buscador-general p {
    font-size: 63%;
  }
}
@media screen and (max-width: 1024px) {
  body .buscador-general p {
    font-size: 61%;
  }
}

.header-main {
  background-image: url(../img/imagen\ index.webp);
  height: 100%;
  max-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 480px) {
  .header-main {
    background-image: url(../img/imagen-index-mobile.png);
    background-size: cover;
    background-position: -160vw;
  }
}
.header-main .header-general {
  display: flex;
  height: 27vh;
  z-index: 1;
  position: fixed;
  width: 100vw;
  background-image: none;
  box-shadow: none;
  -webkit-transition: 0.7s;
}
.header-main .header-general:hover {
  height: 55vh;
  transition: 0.7s;
}
.header-main .main-index {
  height: 100vh;
  opacity: 0;
}

.main-login {
  height: 100vh;
  background-color: rgb(241, 228, 208);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .main-login {
    justify-content: start;
    align-items: start;
  }
}
.main-login .formulario-login {
  height: 60vh;
  margin-top: 20vh;
  width: 35vw;
}
@media screen and (max-width: 768px) {
  .main-login .formulario-login {
    margin-top: 12vh;
  }
}
@media screen and (max-width: 480px) {
  .main-login .formulario-login {
    margin-top: 24vh;
    margin-left: 10vw;
    width: 80vw;
  }
}
.main-login .formulario-login h2 {
  font-family: "fuente-logo";
  font-size: 160%;
}
@media screen and (max-width: 768px) {
  .main-login .formulario-login h2 {
    font-size: 120%;
  }
}
.main-login .formulario-login .formulario-login section {
  display: flex;
  flex-direction: column;
}
.main-login .formulario-login .datos-cuenta-login {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}
.main-login .formulario-login .datos-cuenta-login .email-login {
  display: flex;
  flex-direction: column;
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  width: 90%;
  -webkit-transition: 0.7s;
}
.main-login .formulario-login .datos-cuenta-login .email-login:hover {
  width: 100%;
  translate: 1%;
  transition: 0.7s;
}
.main-login .formulario-login .datos-cuenta-login .email-login label {
  font-size: 68%;
  margin-left: 3%;
}
@media screen and (max-width: 768px) {
  .main-login .formulario-login .datos-cuenta-login .email-login label {
    font-size: 65%;
  }
}
@media screen and (max-width: 480px) {
  .main-login .formulario-login .datos-cuenta-login .email-login label {
    font-size: 61%;
  }
}
.main-login .formulario-login .datos-cuenta-login .email-login input {
  background-color: rgb(241, 228, 208);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 1px;
}
.main-login .formulario-login .datos-cuenta-login .contraseña-login {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  width: 90%;
  -webkit-transition: 0.7s;
}
.main-login .formulario-login .datos-cuenta-login .contraseña-login:hover {
  width: 100%;
  translate: 1%;
  transition: 0.7s;
}
.main-login .formulario-login .datos-cuenta-login .contraseña-login label {
  font-size: 68%;
  margin-left: 3%;
}
@media screen and (max-width: 768px) {
  .main-login .formulario-login .datos-cuenta-login .contraseña-login label {
    font-size: 61%;
  }
}
.main-login .formulario-login .datos-cuenta-login .contraseña-login input {
  background-color: rgb(241, 228, 208);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 1px;
}
.main-login .formulario-login .datos-cuenta-login .boton-login {
  margin-top: 10vh;
  border: solid black 1px;
  background-color: rgb(241, 228, 208);
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  font-size: 70%;
  height: 4vh;
  border-radius: none;
  -webkit-transition: 0.7s;
}
@media screen and (max-width: 768px) {
  .main-login .formulario-login .datos-cuenta-login .boton-login {
    font-size: 60%;
  }
}
@media screen and (max-width: 480px) {
  .main-login .formulario-login .datos-cuenta-login .boton-login {
    font-size: 65%;
    height: 3.5vh;
    margin-top: 7vh;
  }
}
.main-login .formulario-login .datos-cuenta-login .boton-login:hover {
  box-shadow: 1px 2px 10px 0px rgb(108, 108, 108);
  scale: 101%;
  transition: 0.3s;
}
.main-login .registro-login h3 {
  font-family: "fuente-logo";
  font-size: 120%;
  margin-top: 10vh;
}
@media screen and (max-width: 768px) {
  .main-login .registro-login h3 {
    font-size: 110%;
    margin-top: 6vh;
  }
}
.main-login .registro-login .registrate-login {
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  color: rgb(71, 71, 71);
  font-size: 90%;
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .main-login .registro-login .registrate-login {
    font-size: 70%;
  }
}
.main-login .registro-login .registrate-login:hover {
  color: rgb(196, 104, 0);
  transition: 0.3s;
  font-size: 95%;
}
@media screen and (max-width: 768px) {
  .main-login .registro-login .registrate-login:hover {
    font-size: 75%;
  }
}

.main-contactanos {
  height: 100vh;
  background-color: rgb(241, 228, 208);
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 10vh;
}
@media screen and (max-width: 480px) {
  .main-contactanos {
    justify-content: start;
    align-items: start;
  }
}
.main-contactanos .formulario-contactanos {
  display: flex;
  flex-direction: column;
  margin-right: 25vw;
  width: 35vw;
  margin-top: 20vh;
}
@media screen and (max-width: 1200px) {
  .main-contactanos .formulario-contactanos {
    width: 43vw;
  }
}
@media screen and (max-width: 1024px) {
  .main-contactanos .formulario-contactanos {
    margin-top: 25vh;
    width: 43vw;
  }
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos {
    margin-top: 13vh;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos {
    margin-top: 21vh;
    margin-left: 10vw;
    width: 80vw;
  }
}
.main-contactanos .formulario-contactanos h2 {
  font-family: "fuente-logo";
  font-size: 150%;
}
@media screen and (max-width: 1024px) {
  .main-contactanos .formulario-contactanos h2 {
    font-size: 140%;
  }
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos h2 {
    font-size: 120%;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos h2 {
    font-size: 120%;
  }
}
.main-contactanos .formulario-contactanos .nya-contactanos {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  width: 90%;
  -webkit-transition: 0.7s;
}
@media screen and (max-width: 1024px) {
  .main-contactanos .formulario-contactanos .nya-contactanos {
    margin-top: 1vh;
  }
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos .nya-contactanos {
    margin-top: 0.5vh;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos .nya-contactanos {
    margin-top: 2vh;
  }
}
.main-contactanos .formulario-contactanos .nya-contactanos:hover {
  width: 100%;
  translate: 1%;
  transition: 0.7s;
}
.main-contactanos .formulario-contactanos .nya-contactanos label {
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  font-size: 70%;
  margin-left: 5%;
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos .nya-contactanos label {
    font-size: 65%;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos .nya-contactanos label {
    font-size: 61%;
  }
}
.main-contactanos .formulario-contactanos .nya-contactanos input {
  background-color: rgb(241, 228, 208);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 1px;
  font-size: 80%;
  height: 4vh;
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos .nya-contactanos input {
    font-size: 65%;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos .nya-contactanos input {
    font-size: 61%;
  }
}
.main-contactanos .formulario-contactanos .email-contactanos {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 90%;
  -webkit-transition: 0.7s;
}
@media screen and (max-width: 1200px) {
  .main-contactanos .formulario-contactanos .email-contactanos {
    margin-top: 2vh;
  }
}
@media screen and (max-width: 1024px) {
  .main-contactanos .formulario-contactanos .email-contactanos {
    margin-top: 2vh;
  }
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos .email-contactanos {
    margin-top: 1vh;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos .email-contactanos {
    margin-top: 2vh;
  }
}
.main-contactanos .formulario-contactanos .email-contactanos:hover {
  width: 100%;
  translate: 1%;
  transition: 0.7s;
}
.main-contactanos .formulario-contactanos .email-contactanos label {
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  font-size: 70%;
  margin-left: 5%;
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos .email-contactanos label {
    font-size: 65%;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos .email-contactanos label {
    font-size: 61%;
  }
}
.main-contactanos .formulario-contactanos .email-contactanos input {
  background-color: rgb(241, 228, 208);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 1px;
  font-size: 80%;
  height: 4vh;
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos .email-contactanos input {
    font-size: 65%;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos .email-contactanos input {
    font-size: 61%;
  }
}
.main-contactanos .formulario-contactanos .consulta {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-left: 2vw;
}
@media screen and (max-width: 1200px) {
  .main-contactanos .formulario-contactanos .consulta {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 1024px) {
  .main-contactanos .formulario-contactanos .consulta {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos .consulta {
    margin-top: 1vh;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos .consulta {
    margin-top: 2vh;
  }
}
.main-contactanos .formulario-contactanos .consulta p {
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  font-size: 80%;
  margin-left: 5%;
}
@media screen and (max-width: 1200px) {
  .main-contactanos .formulario-contactanos .consulta p {
    font-size: 75%;
  }
}
@media screen and (max-width: 1024px) {
  .main-contactanos .formulario-contactanos .consulta p {
    font-size: 75%;
  }
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos .consulta p {
    font-size: 65%;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos .consulta p {
    font-size: 61%;
  }
}
.main-contactanos .formulario-contactanos .consulta textarea {
  border: solid black 1px;
  background-color: white;
  box-shadow: 1px 2px 10px 0px rgb(108, 108, 108);
  scale: 95%;
  -webkit-transition: 0.7s;
}
@media screen and (max-width: 1200px) {
  .main-contactanos .formulario-contactanos .consulta textarea {
    height: 30vh;
  }
}
@media screen and (max-width: 1024px) {
  .main-contactanos .formulario-contactanos .consulta textarea {
    height: 25vh;
  }
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos .consulta textarea {
    height: 20vh;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos .consulta textarea {
    height: 17vh;
    width: 100%;
  }
}
.main-contactanos .formulario-contactanos .consulta textarea:focus {
  scale: 100%;
  transition: 0.7s;
}
.main-contactanos .formulario-contactanos .boton-contactanos {
  margin-top: 4vh;
  border: solid black 1px;
  background-color: rgb(241, 228, 208);
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  font-size: 70%;
  height: 4vh;
  -webkit-transition: 0.7s;
}
@media screen and (max-width: 768px) {
  .main-contactanos .formulario-contactanos .boton-contactanos {
    font-size: 65%;
    height: 5vh;
  }
}
@media screen and (max-width: 480px) {
  .main-contactanos .formulario-contactanos .boton-contactanos {
    font-size: 61%;
    height: 3.5vh;
    margin-top: 3.5vh;
    scale: 98%;
  }
}
.main-contactanos .formulario-contactanos .boton-contactanos:hover {
  box-shadow: 1px 2px 10px 0px rgb(108, 108, 108);
  scale: 101%;
  transition: 0.3s;
}

body {
  max-width: 100%;
}
body .main-coleccion {
  height: 630vh;
  background-color: rgb(241, 228, 208);
  display: flex;
  justify-content: space-between;
  z-index: 1;
  max-width: 100vw;
}
@media screen and (max-width: 768px) {
  body .main-coleccion {
    justify-content: center;
    height: 1500vh;
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  body .main-coleccion {
    justify-content: center;
    height: 1455vh;
    margin-left: 0;
  }
}
body .main-coleccion .box-clasificacion {
  margin-top: 23%;
  margin-left: 3vw;
  width: 17%;
  display: flex;
  height: 45vh;
  border: solid rgb(71, 71, 71) 1px;
  background-color: beige;
  position: fixed;
  box-shadow: 0px 2px 10px 0px rgb(108, 108, 108);
}
body .main-coleccion .box-clasificacion p {
  margin-left: 8vw;
  margin-top: 1vh;
  position: absolute;
  opacity: 0%;
}
@media screen and (max-width: 480px) {
  body .main-coleccion .box-clasificacion p {
    opacity: 100%;
  }
}
@media screen and (max-width: 768px) {
  body .main-coleccion .box-clasificacion {
    margin-top: 18%;
    margin-left: 78%;
    margin-right: 2vw;
    height: 31vh;
  }
}
@media screen and (max-width: 480px) {
  body .main-coleccion .box-clasificacion {
    margin-top: 10vh;
    margin-left: 72%;
    margin-right: 2vw;
    height: 7vh;
    width: 22vw;
    position: fixed;
    z-index: 1;
    -webkit-transition: 0.7s;
  }
  body .main-coleccion .box-clasificacion:hover {
    height: 25vh;
    transition: 0.7s;
  }
  body .main-coleccion .box-clasificacion:hover .clasificacion {
    opacity: 100%;
  }
  body .main-coleccion .box-clasificacion:hover p {
    opacity: 0%;
  }
}
body .main-coleccion .clasificacion {
  list-style-type: none;
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 75%;
  padding: 0;
  margin-bottom: 0;
  gap: 5vh;
  margin-left: 2vw;
}
@media screen and (max-width: 768px) {
  body .main-coleccion .clasificacion {
    gap: 6vw;
    font-size: 54%;
    margin-left: 1.2vw;
  }
}
@media screen and (max-width: 480px) {
  body .main-coleccion .clasificacion {
    gap: 4vw;
    font-size: 50%;
    margin-left: 1.2vw;
    opacity: 0%;
  }
  body .main-coleccion .clasificacion:hover {
    gap: 4vw;
    font-size: 50%;
    margin-left: 1.2vw;
  }
}
body .box-coleccion {
  width: 75%;
  height: 375vh;
  margin-top: 23vh;
  margin-left: 25vw;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  body .box-coleccion {
    margin-left: 25vw;
    margin-top: 22vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion {
    margin-left: 0;
    margin-top: 16vh;
  }
}
body .box-coleccion .remeras {
  height: 113vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .remeras {
    height: 300vh;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 50vw);
    justify-content: start;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .remeras {
    justify-content: center;
    height: 290vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
body .box-coleccion .remeras .remera-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .box-coleccion .remeras .r-principal {
  grid-column: 1/4;
  height: 65vh;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .remeras .r-principal {
    width: 50vw;
    height: 68vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .remeras .r-principal {
    width: 100vw;
    height: 67vh;
  }
}
body .box-coleccion .remeras .r-principal .remera-0 {
  height: 63vh;
  width: 22vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .remeras .r-principal .remera-0 {
    width: 42vw;
    height: 68vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .remeras .r-principal .remera-0 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .remeras .r-principal .remera-0:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .remeras .r-principal .remera-0:hover .REMERA0 {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .remeras .r-principal .REMERA0 {
  display: flex;
  position: absolute;
  margin-top: 58vh;
  font-size: 130%;
}
body .box-coleccion .remeras .r-secundario {
  height: 45vh;
  margin-top: 3vh;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .remeras .r-secundario {
    margin-top: 0vh;
    grid-column: 1/2;
    width: 50vw;
    height: 68vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .remeras .r-secundario {
    margin-top: 0vh;
    grid-column: 1/4;
    width: 100vw;
    height: 67vh;
  }
}
body .box-coleccion .remeras .r-secundario .remera-1 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .remeras .r-secundario .remera-1 {
    width: 42vw;
    height: 68vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .remeras .r-secundario .remera-1 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .remeras .r-secundario .remera-1:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .remeras .r-secundario .REMERA1 {
  display: flex;
  position: absolute;
  margin-top: 40vh;
  font-size: 130%;
}
body .box-coleccion .remeras .r-secundario .remera-2 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .remeras .r-secundario .remera-2 {
    width: 42vw;
    height: 68vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .remeras .r-secundario .remera-2 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .remeras .r-secundario .remera-2:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .remeras .r-secundario .remera-3 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .remeras .r-secundario .remera-3 {
    width: 42vw;
    height: 68vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .remeras .r-secundario .remera-3 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .remeras .r-secundario .remera-3:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .camisas {
  margin-top: 10vh;
  height: 110vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  body .box-coleccion .camisas {
    justify-content: center;
    height: 290vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .camisas {
    justify-content: center;
    height: 290vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
}
body .box-coleccion .camisas .camisa-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .box-coleccion .camisas .c-principal {
  grid-column: 1/4;
  height: 65vh;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .camisas .c-principal {
    width: 100vw;
    height: 67vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .camisas .c-principal {
    width: 100vw;
    height: 67vh;
  }
}
body .box-coleccion .camisas .c-principal .camisa-0 {
  height: 63vh;
  width: 22vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .camisas .c-principal .camisa-0 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .camisas .c-principal .camisa-0 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .camisas .c-principal .camisa-0:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .camisas .c-principal .CAMISA0 {
  display: flex;
  position: absolute;
  margin-top: 58vh;
  font-size: 130%;
}
body .box-coleccion .camisas .c-secundario {
  height: 45vh;
  margin-top: 3vh;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .camisas .c-secundario {
    grid-column: 1/4;
    width: 100vw;
    height: 67vh;
    margin-top: 0vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .camisas .c-secundario {
    grid-column: 1/4;
    width: 100vw;
    height: 67vh;
    margin-top: 0vh;
  }
}
body .box-coleccion .camisas .c-secundario .camisa-1 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .camisas .c-secundario .camisa-1 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .camisas .c-secundario .camisa-1 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .camisas .c-secundario .camisa-1:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .camisas .c-secundario .CAMISA1 {
  display: flex;
  position: absolute;
  margin-top: 40vh;
  font-size: 130%;
}
body .box-coleccion .camisas .c-secundario .camisa-2 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .camisas .c-secundario .camisa-2 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .camisas .c-secundario .camisa-2 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .camisas .c-secundario .camisa-2:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .camisas .c-secundario .camisa-3 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .camisas .c-secundario .camisa-3 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .camisas .c-secundario .camisa-3 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .camisas .c-secundario .camisa-3:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .pantalones {
  margin-top: 10vh;
  height: 110vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  body .box-coleccion .pantalones {
    justify-content: center;
    height: 290vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .pantalones {
    justify-content: center;
    height: 290vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
}
body .box-coleccion .pantalones .pantalon-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .box-coleccion .pantalones .p-principal {
  grid-column: 1/4;
  height: 65vh;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .pantalones .p-principal {
    width: 100vw;
    height: 67vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .pantalones .p-principal {
    width: 100vw;
    height: 67vh;
  }
}
body .box-coleccion .pantalones .p-principal .pantalon-0 {
  height: 63vh;
  width: 22vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .pantalones .p-principal .pantalon-0 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .pantalones .p-principal .pantalon-0 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .pantalones .p-principal .pantalon-0:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .pantalones .p-principal .PANTALON0 {
  display: flex;
  position: absolute;
  margin-top: 58vh;
  font-size: 130%;
}
body .box-coleccion .pantalones .p-secundario {
  height: 45vh;
  margin-top: 3vh;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .pantalones .p-secundario {
    grid-column: 1/4;
    margin-top: 0vh;
    width: 100vw;
    height: 67vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .pantalones .p-secundario {
    grid-column: 1/4;
    margin-top: 0vh;
    width: 100vw;
    height: 67vh;
  }
}
body .box-coleccion .pantalones .p-secundario .pantalon-1 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .pantalones .p-secundario .pantalon-1 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .pantalones .p-secundario .pantalon-1 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .pantalones .p-secundario .pantalon-1:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .pantalones .p-secundario .PANTALON1 {
  display: flex;
  position: absolute;
  margin-top: 40vh;
  font-size: 130%;
}
body .box-coleccion .pantalones .p-secundario .pantalon-2 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .pantalones .p-secundario .pantalon-2 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .pantalones .p-secundario .pantalon-2 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .pantalones .p-secundario .pantalon-2:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .pantalones .p-secundario .pantalon-3 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .pantalones .p-secundario .pantalon-3 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .pantalones .p-secundario .pantalon-3 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .pantalones .p-secundario .pantalon-3:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .bermudas {
  margin-top: 10vh;
  height: 110vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  body .box-coleccion .bermudas {
    justify-content: center;
    height: 279vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .bermudas {
    justify-content: center;
    height: 279vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
}
body .box-coleccion .bermudas .bermudas-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .box-coleccion .bermudas .b-principal {
  grid-column: 1/4;
  height: 65vh;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .bermudas .b-principal {
    width: 100vw;
    height: 67vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .bermudas .b-principal {
    width: 100vw;
    height: 67vh;
  }
}
body .box-coleccion .bermudas .b-principal .bermuda-0 {
  height: 63vh;
  width: 22vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .bermudas .b-principal .bermuda-0 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .bermudas .b-principal .bermuda-0 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .bermudas .b-principal .bermuda-0:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .bermudas .b-principal .BERMUDA0 {
  display: flex;
  position: absolute;
  margin-top: 58vh;
  font-size: 130%;
}
body .box-coleccion .bermudas .b-secundario {
  height: 45vh;
  margin-top: 3vh;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .bermudas .b-secundario {
    grid-column: 1/4;
    margin-top: 0vh;
    width: 100vw;
    height: 67vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .bermudas .b-secundario {
    grid-column: 1/4;
    margin-top: 0vh;
    width: 100vw;
    height: 67vh;
  }
}
body .box-coleccion .bermudas .b-secundario .bermuda-1 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .bermudas .b-secundario .bermuda-1 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .bermudas .b-secundario .bermuda-1 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .bermudas .b-secundario .bermuda-1:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .bermudas .b-secundario .BERMUDA1 {
  display: flex;
  position: absolute;
  margin-top: 40vh;
  font-size: 130%;
}
body .box-coleccion .bermudas .b-secundario .bermuda-2 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .bermudas .b-secundario .bermuda-2 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .bermudas .b-secundario .bermuda-2 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .bermudas .b-secundario .bermuda-2:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .bermudas .b-secundario .bermuda-3 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .bermudas .b-secundario .bermuda-3 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .bermudas .b-secundario .bermuda-3 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .bermudas .b-secundario .bermuda-3:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .accesorios {
  margin-top: 10vh;
  height: 110vh;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  body .box-coleccion .accesorios {
    margin-top: 0;
    justify-content: center;
    height: 290vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .accesorios {
    margin-top: 0;
    justify-content: center;
    height: 290vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0;
  }
}
body .box-coleccion .accesorios .accesorio-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .box-coleccion .accesorios .a-principal {
  grid-column: 1/4;
  height: 65vh;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .accesorios .a-principal {
    width: 100vw;
    height: 67vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .accesorios .a-principal {
    width: 100vw;
    height: 67vh;
  }
}
body .box-coleccion .accesorios .a-principal .accesorio-0 {
  height: 63vh;
  width: 22vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .accesorios .a-principal .accesorio-0 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .accesorios .a-principal .accesorio-0 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .accesorios .a-principal .accesorio-0:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .accesorios .a-principal .ACCESORIO0 {
  display: flex;
  position: absolute;
  margin-top: 58vh;
  font-size: 130%;
}
body .box-coleccion .accesorios .a-secundario {
  height: 45vh;
  margin-top: 3vh;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .accesorios .a-secundario {
    grid-column: 1/4;
    margin-top: 0vh;
    width: 100vw;
    height: 67vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .accesorios .a-secundario {
    grid-column: 1/4;
    margin-top: 0vh;
    width: 100vw;
    height: 67vh;
  }
}
body .box-coleccion .accesorios .a-secundario .accesorio-1 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .accesorios .a-secundario .accesorio-1 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .accesorios .a-secundario .accesorio-1 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .accesorios .a-secundario .accesorio-1:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .accesorios .a-secundario .ACCESORIO1 {
  display: flex;
  position: absolute;
  margin-top: 40vh;
  font-size: 130%;
}
body .box-coleccion .accesorios .a-secundario .accesorio-2 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .accesorios .a-secundario .accesorio-2 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .accesorios .a-secundario .accesorio-2 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .accesorios .a-secundario .accesorio-2:hover {
  scale: 103%;
  transition: 0.3s;
}
body .box-coleccion .accesorios .a-secundario .accesorio-3 {
  height: 43vh;
  width: 15vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .box-coleccion .accesorios .a-secundario .accesorio-3 {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  body .box-coleccion .accesorios .a-secundario .accesorio-3 {
    width: 70vw;
    height: 60vh;
  }
}
body .box-coleccion .accesorios .a-secundario .accesorio-3:hover {
  scale: 103%;
  transition: 0.3s;
}

.container-flow .text-footer {
  margin-left: 9vw;
}

.main-buscador {
  height: 360vh;
  background-color: rgb(241, 228, 208);
  padding-top: 30vh;
}
@media screen and (max-width: 1200px) {
  .main-buscador {
    padding-top: 25vh;
    height: 330vh;
  }
}
@media screen and (max-width: 1024px) {
  .main-buscador {
    padding-top: 27vh;
  }
}
@media screen and (max-width: 768px) {
  .main-buscador {
    padding-top: 12vh;
    height: 710vh;
  }
}
@media screen and (max-width: 480px) {
  .main-buscador {
    padding-top: 14vh;
    height: 1330vh;
  }
}
.main-buscador .navbar {
  margin-left: 27.8vw;
  width: 71vw; /*75vw*/
  padding: 0;
  border: solid rgb(71, 71, 71) 1px;
  border-right: none;
  z-index: 0;
  -webkit-transition: 0.7s;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
}
@media screen and (max-width: 768px) {
  .main-buscador .navbar {
    margin-top: 18vh;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .main-buscador .navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 70vh;
    margin-left: 4vw;
    width: 94vw;
  }
}
.main-buscador .navbar:hover {
  width: 74vw;
  margin-left: 24.8vw;
  transition: 0.7s;
}
.main-buscador .navbar .container-fluid {
  padding: 0;
}
.main-buscador .navbar .container-fluid .formulario-buscador {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-buscador .navbar .container-fluid .formulario-buscador .form-control {
  border-radius: 0;
  height: 7vh;
  background-color: white;
  font-size: 80%;
  width: 92%;
}
@media screen and (max-width: 1200px) {
  .main-buscador .navbar .container-fluid .formulario-buscador .form-control {
    height: 6vh;
  }
}
@media screen and (max-width: 768px) {
  .main-buscador .navbar .container-fluid .formulario-buscador .form-control {
    height: 2.5vh;
    font-size: 61%;
  }
}
.main-buscador .navbar .container-fluid .formulario-buscador .form-control:focus {
  background-color: white;
}
.main-buscador .navbar .container-fluid .formulario-buscador .btn {
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-color: rgb(71, 71, 71);
  background-color: beige;
  width: 10%;
  font-size: 80%;
  color: rgb(71, 71, 71);
}
@media screen and (max-width: 1200px) {
  .main-buscador .navbar .container-fluid .formulario-buscador .btn {
    width: 12%;
  }
}
@media screen and (max-width: 768px) {
  .main-buscador .navbar .container-fluid .formulario-buscador .btn {
    width: 20%;
    font-size: 61%;
  }
}
.main-buscador .navbar .container-fluid .formulario-buscador .btn:hover {
  background-color: rgb(173, 173, 152);
  color: rgb(71, 71, 71);
}
.main-buscador .box-inventario {
  display: flex;
  justify-content: end;
  width: 100%;
}
.main-buscador .box-inventario .inventario {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 300vh;
  margin-top: 10vh;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .main-buscador .box-inventario .inventario {
    height: 280vh;
  }
}
@media screen and (max-width: 768px) {
  .main-buscador .box-inventario .inventario {
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(10, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .main-buscador .box-inventario .inventario {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(20, 1fr);
    margin-top: 5vh;
  }
}
.main-buscador .box-inventario .inventario .borde {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  -webkit-transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  .main-buscador .box-inventario .inventario .borde {
    height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .main-buscador .box-inventario .inventario .borde {
    height: 65vh;
  }
}
.main-buscador .box-inventario .inventario .borde:hover {
  scale: 103%;
  transition: 0.3s;
}
.main-buscador .box-inventario .inventario .borde .productos {
  height: 53vh;
  width: 18vw;
  box-shadow: 4px 4px 10px 0px rgba(117, 113, 113, 0.61);
}
@media screen and (max-width: 1200px) {
  .main-buscador .box-inventario .inventario .borde .productos {
    height: 46vh;
    width: 21vw;
  }
}
@media screen and (max-width: 768px) {
  .main-buscador .box-inventario .inventario .borde .productos {
    height: 58vh;
    width: 28vw;
  }
}
@media screen and (max-width: 480px) {
  .main-buscador .box-inventario .inventario .borde .productos {
    height: 58vh;
    width: 83vw;
  }
}
.main-buscador .box-inventario .inventario .borde .mas {
  position: absolute;
  margin-top: 46vh;
}
@media screen and (max-width: 1200px) {
  .main-buscador .box-inventario .inventario .borde .mas {
    margin-top: 41vh;
  }
}
@media screen and (max-width: 768px) {
  .main-buscador .box-inventario .inventario .borde .mas {
    margin-top: 50vh;
  }
}
.main-buscador .box-inventario .inventario .borde .mas .adicional {
  font-size: 120%;
}
@media screen and (max-width: 768px) {
  .main-buscador .box-inventario .inventario .borde .mas .adicional {
    font-size: 100%;
  }
}

.container-flow {
  background-color: white;
  width: 100vw;
  padding: 0%;
  margin: 0;
  height: 80vh;
  box-shadow: 0px 2px 10px 0px rgb(108, 108, 108);
}
@media screen and (max-width: 1200px) {
  .container-flow {
    height: 83vh;
  }
}
@media screen and (max-width: 480px) {
  .container-flow {
    height: 89vh;
    display: flex;
    justify-content: center;
  }
}
.container-flow .row {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .container-flow .row {
    height: 0;
  }
}
.container-flow .row h2 {
  font-family: "fuente-logo";
  font-weight: 100;
  font-size: 160%;
  color: rgb(50, 50, 50);
  margin-top: 35vh;
}
@media screen and (max-width: 1024px) {
  .container-flow .row h2 {
    margin-top: 30vh;
  }
}
@media screen and (max-width: 768px) {
  .container-flow .row h2 {
    margin-top: 25vh;
  }
}
@media screen and (max-width: 480px) {
  .container-flow .row h2 {
    font-size: 160%;
    margin-top: 32vh;
    height: 15vh;
  }
}
.container-flow .row .redes {
  padding-top: 11vh;
  font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  font-size: 100%;
}
@media screen and (max-width: 480px) {
  .container-flow .row .redes {
    padding-top: 0vh;
  }
}
.container-flow .row .redes a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-size: 75%;
}
@media screen and (max-width: 480px) {
  .container-flow .row .redes a {
    font-size: 70%;
  }
}
.container-flow .row .redes a:hover {
  color: rgb(196, 104, 0);
  font-size: 80%;
  transition: 0.1s;
}
@media screen and (max-width: 480px) {
  .container-flow .row .redes a:hover {
    font-size: 75%;
  }
}

/*# sourceMappingURL=main.css.map */
