/*MAIN*/
.main-buscador {
    height: 460vh;
    background-color: nth($list: $colores, $n:5 );
    padding-top: 30vh;
    max-width: 100%;
    @include notebook{
        padding-top: 25vh;
        height: 440vh;
    }
    @include tablet {
        padding-top: 27vh;
        height: 850vh;
    }
    @include mobile {
        padding-top: 13vh;
        height: 1040vh;
    }
    @include s-mobile {
        padding-top: 14vh;
        height: 1520vh;
    }
    @include vs-mobile {
        padding-top: 14vh;
        height: 1350vh;
    }
    /*NAVBAR DEL BUSCADOR*/
    .navbar {
        margin-left: 27.8vw;
        width: 71vw;                                  
        padding: 0;
        border: solid nth($list: $colores, $n: 2) 1px;
        border-right: none;
        z-index: 0;
        -webkit-transition: 0.7s;
        box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
        @include mobile{
            margin-top: 18vh;
            padding: 0;
            
        }
        @include s-mobile{
            display: flex;
            flex-direction: column;
            position: fixed;
            margin-top: 70vh;
            margin-left: 4vw;
            width: 94vw;
            z-index: 2;
        }
        &:hover {
            width: 74vw;
            margin-left: 24.8vw;
            transition: 0.7s;
        }
        .container-fluid {
            padding: 0;
            .formulario-buscador {
                width: 100%;
                display: flex;
                align-items: center;
                .form-control {
                    border-radius: 0;
                    height: 7vh;
                    background-color: nth($list: $colores, $n: 4 );
                    font-size: 80%;
                    width: 92%;
                    @include notebook {
                        height: 6vh;
                    }
                    @include mobile{
                        height: 8.5vh;
                    }
                    @include s-mobile{
                        height:3.5vh;
                        font-size: 61%;
                        
                    }
                    &:focus {
                        background-color: nth($list: $colores, $n:4 );
                        }
                    }
                    .boton {
                        border-radius: 0;
                        border-bottom: none;
                        border-top: none;
                        border-left: none;
                        border-color: nth($list: $colores, $n:2 );
                        background-color: nth($list: $colores, $n:1 ) ;
                        width: 10%;
                        font-size: 80%;
                        color: nth($list: $colores, $n: 2);
                        height: 7vh;
                        @include notebook{
                            width: 12%;
                        }
                        @include mobile{
                            width: 20%;
                            font-size: 61%;
                            height: 8.5vh;
                        }
                        @include s-mobile{
                            height: 3.5vh;
                        }
                        &:hover {
                            background-color: nth($list: $colores, $n:3 ) ;
                            color: nth($list: $colores, $n: 2);
                        }
                }
            }
        }
    }
    /*BOX DE INVENTARIO*/
    .box-inventario {
        display: flex;
        justify-content: end;
        max-width:100%;
        .inventario {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows:repeat(5, 1fr) ;
            height: 400vh;
            margin-top: 10vh;
            width: 100%;
            @include notebook {
                margin-top: 15vh;
            }
            @include tablet{
                grid-template-columns:repeat(2, 50vw);
                grid-template-rows: repeat(10, 1fr);
                margin-top: 0vh;
            }
            @include mobile {
                grid-template-columns:repeat(2, 50vw);
                grid-template-rows: repeat(10, 1fr);
            }
            @include s-mobile {
                grid-template-columns: 100vw;
                grid-template-rows: repeat(20, 1fr);
            }
            @include vs-mobile{
                grid-template-columns: 100vw;
                grid-template-rows: repeat(20, 1fr);
            }
            .borde {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 55vh;
                -webkit-transition: 0.3s;
                @include notebook{
                    height: 50vh;
                }
                @include tablet{
                    height:80vh;
                }
                @include mobile {
                    height:90vh ;
                }
                @include s-mobile{
                    height: 75vh;
                }
                @include vs-mobile{
                    height: 66vh;
                }
                &:hover{
                    scale: 103%;
                    transition: 0.3s;
                }
                .productos{
                    width: 21vw;
                    height: 69vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    @include notebook {
                    }
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 67vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                }
                .mas{
                    position: absolute;
                    margin-top:58vh;
                    font-size: 110%;
                    @include notebook {
                        margin-top: 60vh;
                    }
                    @include tablet {
                        margin-top: 65vh;
                    }
                    @include mobile{
                        margin-top: 65vh;
                    }
                    @include s-mobile{
                        margin-top: 60vh;
                    }
                    @include vs-mobile{
                        margin-top: 56vh;
                    }
                    .adicional{
                        font-size: 11   0%;
                        @include mobile{
                            font-size: 100%;
                        }
                    }
                }
            }
        }
    }
}