
body{
    max-width: 100%;
    /*MAIN*/
.main-coleccion {
    height: 665vh;
    background-color: nth($list: $colores, $n:5 );
    display: flex;
    justify-content:space-between;
    z-index: 1;
    max-width: 100vw;
    @include tablet{
        height: 1650vh;
        margin-left: 0;
    }
    @include mobile{
        height: 1920vh;
        margin-left: 0;
    }
    @include s-mobile{
        justify-content: center;
        height: 1480vh;
        margin-left: 0;
    }
    @include vs-mobile{
        justify-content: center;
        height: 1425vh;
        margin-left: 0;
    }
    /*BOX DE CLASIFICACION*/
    .box-clasificacion {
        margin-top: 23%;
        margin-left: 3vw;
        width: 17%;
        display: flex;
        height: 45vh;
        border: solid nth($list: $colores, $n:2 ) 1px;
        background-color: nth($list: $colores, $n: 1);
        position: fixed;
        box-shadow: 0px 2px 10px 0px rgb(108, 108, 108)  ;
        justify-content: start;
        p{
            margin-top: 1.5vh;
            position: absolute;
            opacity: 0%;
            @include s-mobile{
                opacity: 100%;
            }
        }
        @include s-mobile {
            margin-top: 10vh;
            margin-left:72%;
            margin-right: 2vw;
            height: 7vh;
            width: 22vw;
            position: fixed;
            z-index: 1;
            -webkit-transition: 0.7s;
            justify-content: center;
            &:hover {
            height: 25vh;
            transition: 0.7s;
            } 
            &:hover .clasificacion{
                opacity: 100%;
            }
            &:hover p {
                opacity: 0%;
            }
        }
        }
        /*PALABRAS DENTRO DEL BOX*/
        .clasificacion {
            list-style-type: none;
            font-family:"Neue-Helvetica","Helvetica","Arial","sans-serif";
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 75%;
            padding: 0;
            margin-bottom: 0;
            gap:5vh;
            margin-left: 3vw;
            @include s-mobile{
                gap: 4vw;
                font-size: 50%;
                margin-left: 1.2vw;
                opacity: 0%;
                &:hover {
                gap: 4vw;
                font-size: 50%;
                margin-left: 1.2vw;
                }
            }
        }
    }
    /*BOX DE COLECCION*/
    .box-coleccion {    
        width: 75%;
        height: 375vh;
        margin-top: 28vh;
        margin-left: 25vw;
        z-index: 0;
        @include tablet{
            margin-left: 25vw;
            margin-top: 22vh;
        }
        @include mobile{
            margin-left: 25vw;
            margin-top: 25vh;
        }
        @include s-mobile{
            margin-left: 0;
            margin-top: 20vh;
        }
        /*REMERAS*/
        .remeras {
            height: 113vh;                                                             
            width: 100%;
            display: grid;
            grid-template-rows: repeat(2, 1fr);                                        
            grid-template-columns: repeat(3, 1fr);
            @include tablet{
                margin-top: 0;
                justify-content: center;
                height: 325vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include mobile{
                margin-top: 0;
                justify-content: center;
                height: 380vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include s-mobile{
                justify-content: center;
                height: 290vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
            }
            @include vs-mobile{
                justify-content: center;
                height: 280vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
            }
            .remera-item {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            /*REMERA PRINCIPAL*/
            .r-principal {
                grid-column: 1/4;
                height: 65vh;
                @include tablet{
                    width: 100vw;
                    height: 67vh;
                }
                @include mobile{
                    width: 100vw;
                    height: 67vh;
                }
                @include s-mobile{
                    width: 100vw;
                    height: 75vh;
                }
                @include vs-mobile{
                    width: 100vw;
                    height: 65vh;
                }
                .remera-0{
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    width: 21vw;
                    height: 69vh;
                    @include tablet{
                        margin-top: 5vh;
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        margin-top: 0;
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                    &:hover .REMERA0{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .REMERA0{
                    display: flex;
                    position: absolute;
                    margin-top:58vh;
                    font-size: 130%;
                    @include tablet{
                        margin-top: 65vh;
                    }
                    @include s-mobile{
                        margin-top: 50vh;
                    }
                    @include vs-mobile{
                        margin-top: 56vh;
                    }
                }
            }
            /*REMERAS SECUNDARIAS*/
            .r-secundario{
                height: 45vh;
                margin-top: 8vh;
                position: relative;
                @include tablet{
                    grid-column: 1/4;
                    width: 100vw;
                    height: 67vh;
                    margin-top: 0vh;
                }
                @include mobile{
                    grid-column: 1/4;
                    width: 100vw;
                    height: 67vh;
                    margin-top: 0vh;
                }
                @include s-mobile{
                    grid-column: 1/4;
                    width: 100vw;
                    height: 70vh;
                    margin-top: 0vh;
                }
                @include vs-mobile{
                    margin-top: 0vh;
                    grid-column: 1/4;
                    width: 100vw;
                    height: 65vh;
                }
                .remera-1{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .REMERA1{
                    display: flex;
                    position: absolute;
                    margin-top: 40vh;
                    font-size: 130%;
                    @include tablet{
                        margin-top: 65vh;
                    }
                    @include s-mobile{
                        margin-top: 50vh;
                    }
                    @include vs-mobile{
                        margin-top: 56vh;
                    }
                }
                .remera-2{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .remera-3{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
            }
        }
        /*CAMISAS*/
        .camisas {
            margin-top: 15vh;
            height: 110vh;
            width: 100%;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns:repeat(3, 1fr);
            @include tablet{
                justify-content: center;
                height: 325vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include mobile{
                justify-content: center;
                height: 380vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include s-mobile{
                justify-content: center;
                height: 290vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include vs-mobile{
                justify-content: center;
                height: 280vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            .camisa-item {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            /*CAMISA PRINCIPAL*/
            .c-principal {
                grid-column: 1/4;
                height: 65vh;
                @include tablet{
                    width: 100vw;
                    height: 67vh;
                }
                @include mobile{
                    width: 100vw;
                    height: 67vh;
                }
                @include s-mobile{
                    width: 100vw;
                    height: 70vh;
                }
                @include vs-mobile{
                    width: 100vw;
                    height: 65vh;
                }
                .camisa-0{
                    width: 21vw;
                    height: 69vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .CAMISA0{
                    display: flex;
                    position: absolute;
                    margin-top:58vh;
                    font-size: 130%;
                    @include tablet{
                        margin-top: 65vh;
                    }
                    @include s-mobile{
                        margin-top: 50vh;
                    }
                    @include vs-mobile{
                        margin-top: 56vh;
                    }
                }
            }
            /*CAMISAS SECUNDARIAS*/
            .c-secundario{
                height: 45vh;
                margin-top: 8vh;
                position: relative;
                @include tablet{
                    grid-column: 1/4;
                    width: 100vw;
                    height: 67vh;
                    margin-top: 0vh;
                }
                @include mobile{
                    grid-column: 1/4;
                    width: 100vw;
                    height: 67vh;
                    margin-top: 0vh;
                }
                @include s-mobile{
                    grid-column: 1/4;
                    width: 100vw;
                    height: 70vh;
                    margin-top: 0vh;
                }
                @include vs-mobile{
                    grid-column: 1/4;
                    width: 100vw;
                    height: 65vh;
                    margin-top: 0vh;
                }
                .camisa-1{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .CAMISA1{
                    display: flex;
                    position: absolute;
                    margin-top: 40vh;
                    font-size: 130%;
                    @include tablet{
                        margin-top: 65vh;
                    }
                    @include s-mobile{
                        margin-top: 50vh;
                    }
                    @include vs-mobile{
                        margin-top: 56vh;
                    }
                }
                .camisa-2{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .camisa-3{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
            }
        }
        /*PANTALONES*/
        .pantalones {
            margin-top: 15vh;
            height: 110vh;
            width: 100%;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
            @include tablet{
                justify-content: center;
                height: 325vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include mobile{
                justify-content: center;
                height: 380vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include s-mobile{
                justify-content: center;
                height: 290vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include vs-mobile{
                justify-content: center;
                height: 280vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            .pantalon-item {
                display: flex;
                justify-content: center;
                align-items: center;
            } /*PANTALON PRINCIPAL*/
            .p-principal {
                grid-column: 1/4;
                height: 65vh;
                position: relative;
                @include tablet{
                    width: 100vw;
                    height: 67vh;
                }
                @include mobile{
                    width: 100vw;
                    height: 67vh;
                }
                @include s-mobile{
                    width: 100vw;
                    height: 70vh;
                }
                @include vs-mobile{
                    width: 100vw;
                    height: 65vh;
                }
                .pantalon-0{
                    width: 21vw;
                    height: 69vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .PANTALON0{
                    display: flex;
                    position: absolute;
                    margin-top:58vh;
                    font-size: 130%;
                    @include tablet{
                        margin-top: 65vh;
                    }
                    @include s-mobile{
                        margin-top: 50vh;
                    }
                    @include vs-mobile{
                        margin-top: 56vh;
                    }
                }
            }
            /*PANTALONES SECUNDARIOS*/
            .p-secundario{
                height: 45vh;
                margin-top: 8vh;
                position: relative;
                @include tablet{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 67vh;
                }
                @include mobile{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 67vh;
                }
                @include s-mobile{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 70vh;
                }
                @include vs-mobile{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 65vh;
                }
                .pantalon-1{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .PANTALON1{
                    display: flex;
                    position: absolute;
                    margin-top: 40vh;
                    font-size: 130%;
                    @include tablet{
                        margin-top: 65vh;
                    }
                    @include s-mobile{
                        margin-top: 50vh;
                    }
                    @include vs-mobile{
                    margin-top: 56vh;
                    }
                }
                .pantalon-2{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .pantalon-3{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;    
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
            }
        }
        /*BERMUDAS*/
        .bermudas {
            margin-top: 15vh;
            height: 110vh;
            width: 100%;
            display: grid;
            grid-template-rows: repeat(2,1fr);
            grid-template-columns: repeat(3,  1fr);
            @include tablet{
                justify-content: center;
                height: 325vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include mobile{
                justify-content: center;
                height: 380vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include s-mobile{
                justify-content: center;
                height: 290vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include vs-mobile{
                justify-content: center;
                height: 280vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            .bermudas-item {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            /*BERMUDA PRINCIPAL*/
            .b-principal {
                grid-column: 1/4;
                height: 65vh;
                position: relative;
                @include tablet{
                    width: 100vw;
                    height: 67vh;
                }
                @include mobile{
                    width: 100vw;
                    height: 67vh;
                }
                @include s-mobile{
                    width: 100vw;
                    height: 70vh;
                }
                @include vs-mobile{
                    width: 100vw;
                    height: 65vh;
                }
                .bermuda-0{
                    width: 21vw;
                    height: 69vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .BERMUDA0{
                    display: flex;
                    position: absolute;
                    margin-top:58vh;
                    font-size: 130%;
                    @include tablet{
                        margin-top: 65vh;
                    }
                    @include s-mobile{
                        margin-top: 50vh;
                    }
                    @include vs-mobile{
                        margin-top: 56vh;
                    }
                }
            } 
            /*BERMUDAS SECUDARIAS*/
            .b-secundario{
                height: 45vh;
                margin-top: 8vh;
                position: relative;
                @include tablet{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 67vh;
                }
                @include mobile{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 67vh;
                }
                @include s-mobile{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 70vh;
                }
                @include vs-mobile{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 65vh;
                }
                .bermuda-1{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .BERMUDA1{
                    display: flex;
                    position: absolute;
                    margin-top: 40vh;
                    font-size: 130%;
                    @include tablet{
                        margin-top: 65vh;
                    }
                    @include s-mobile{
                        margin-top: 50vh;
                    }
                    @include vs-mobile{
                        margin-top: 56vh;
                    }
                }
                .bermuda-2{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .bermuda-3{
                    width: 14.7vw;
                    height: 47vh;;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
            }
        }/*ACCESORIOS*/
        .accesorios {
            margin-top: 15vh;
            height: 110vh;
            width: 100%;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns:repeat(3, 1fr);
            @include tablet{
                margin-top: 0;
                justify-content: center;
                height: 325vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include mobile{
                margin-top: 0;
                justify-content: center;
                height: 380vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include s-mobile{
                margin-top: 0;
                justify-content: center;
                height: 290vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            @include vs-mobile{
                margin-top: 0;
                justify-content: center;
                height: 280vh;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(1, 1fr);
                margin-top: 0;
            }
            .accesorio-item {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            /*ACCESORIO PRINCIPAL*/
            .a-principal {
                grid-column: 1/4;
                height: 65vh;
                position: relative;
                @include tablet{
                    width: 100vw;
                    height: 67vh;
                }
                @include mobile{
                    width: 100vw;
                    height: 67vh;
                }
                @include s-mobile{
                    width: 100vw;
                    height: 70vh;
                }
                @include vs-mobile{
                    width: 100vw;
                    height: 65vh;
                }
                .accesorio-0{
                    width: 21vw;
                    height: 69vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .ACCESORIO0{
                    display: flex;
                    position: absolute;
                    margin-top:58vh;
                    font-size: 130%;
                    @include tablet{
                        margin-top: 65vh;
                    }
                    @include s-mobile{
                        margin-top: 50vh;
                    }
                    @include vs-mobile{
                        margin-top: 56vh;
                    }
                }
            }
            /*ACCESORIOS SECUNDARIOS*/
            .a-secundario{
                height: 45vh;
                margin-top: 8vh;
                position: relative;
                @include tablet{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 67vh;
                }
                @include mobile{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 67vh;
                }
                @include s-mobile{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 70vh;
                }
                @include vs-mobile{
                    grid-column: 1/4;
                    margin-top: 0vh;
                    width: 100vw;
                    height: 65vh;
                }
                .accesorio-1{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .ACCESORIO1{
                    display: flex;
                    position: absolute;
                    margin-top: 40vh;
                    font-size: 130%;
                    @include tablet{
                        margin-top: 65vh;
                    }
                    @include s-mobile{
                        margin-top: 50vh;
                    }
                    @include vs-mobile{
                        margin-top: 56vh;
                    }
                }
                .accesorio-2{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
                .accesorio-3{
                    width: 14.7vw;
                    height: 47vh;
                    box-shadow: 4px 4px 10px 0px rgba(117,113,113,0.61);
                    -webkit-transition: 0.3s;
                    @include tablet{
                        width: 36vw;
                        height: 74vh;
                    }
                    @include mobile{
                        width: 29vw;
                        height: 76vh;
                    }
                    @include s-mobile{
                        width: 80vw;
                        height: 65vh;
                    }
                    @include vs-mobile{
                        height: 62vh;
                        width: 87vw;
                    }
                    &:hover{
                        scale: 103%;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}
/*FOOTER DIFERENCIADO*/
.container-flow{
    .text-footer{
        margin-left: 9vw;
        @include s-mobile{
            margin-left: 0;
        }
    }
}
