/* *{
    margin: 0px;
    padding: 0px;
} */
/* @font-face {
    font-family:"fuente-logo";
    src: url(../fuentes/DMSerifDisplay-Italic.ttf);
} */
/* .header-main {
    background-image: url(../img/imagen\ index.webp);
} */

/* .header-general {
    display: flex;
    height: 20vh;
    background-image: url(../img/imagen\ index.webp);
    width: 100vw;
    position: fixed;
    background-position: top;
    background-size: cover;
    z-index: 1;
}
.nav-general {
    background-color: beige;
    z-index: 1;
    width: 20%;
    align-items: center;
    margin-left: 3vw;
    height: 45vh;
    border-bottom: solid rgb(71, 71, 71) 0.1vh;
    border-left: solid rgb(71, 71, 71) 0.1vh;
    border-right: solid rgb(71, 71, 71) 0.1vh;
}
.nav-general:hover {
    background-color: rgb(173, 173, 152);
}
.logo-general {
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.logo-general h1 {
    font-weight: 200;
    font-size: 7vw;
    font-family: "fuente-logo";
    color: rgb(20, 20, 20);
}
.logo-general h1:hover { 
    color: rgb(255, 255, 255);
}
.menu-general {
    list-style-type: none;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    gap: 3vh;
    width: 12vw;
}
.menu-general a {
    text-decoration: none;
}
.menu-general p {
    font-family:"Neue-Helvetica","Helvetica","Arial","sans-serif";
    color: rgb(29, 29, 29);
    font-size: 70%;
}
.menu-general p:hover {
    color: rgb(255, 255, 255);
} */

/* .main-buscador {
    height: 500vh;
    background-color:rgb(241, 228, 208);
    width: 100vw;
    padding-top: 30vh;
} */
/* .navbar {
    margin-left: 25vw;
    width: 75vw;
    padding: 0;
    border: solid black 1px;
    border-right: none;
    z-index: 0;
} */
/* .container-fluid {
    padding: 0;
} */
/* .formulario-buscador {
    width: 100%;
} */
/* .form-control {
    border-radius: 0;
    height: 7vh;
    background-color: white;
    font-size: 80%;
    width: 92%;
} */
/* .form-control:focus {
    background-color: white;
} */
/* .btn {
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    border-color: rgb(65, 65, 65);
    background-color: beige ;
    width: 8%;
    font-size: 80%;
    color: black;
} */
/* .btn:hover {
    background-color:rgb(206, 206, 206) ;
    color: grey;
} */
/* .box-inventario {
    display: flex;
    justify-content: end;
    width:100%;
} */
/* .inventario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(10, 1fr) ;
    height: 450vh;
    margin-top: 10vh;
    width: 75%;
} */
/* .borde {
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .container {
    background-color:rgb(255, 255, 254);
    width: 100%;
    height: 80vh;
}
.container div {
    width: 100%;
} 
.container h2 {
    font-family:"fuente-logo";
    font-weight: 100;
    font-size: 160%;
    color: rgb(50, 50, 50);
    margin-top: 38vh;
}
.redes {
    padding-top:11vh;
    font-family:"Neue-Helvetica","Helvetica","Arial","sans-serif";
    font-size:75%;
}
.redes a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.redes a:hover {
    color: rgb(196, 104, 0);
} */

